{% extends './base.html' %}

{% block title %} <title>Обо мне - Личный сайт</title> {% endblock title %}


{% block content %}
<main class="main" role="main">
        <aside class="photo" aria-hidden="true">
            <img src="#" alt="Фото"/>
        </aside>

        <section class="content">
            <h1> Привет, меня зовут Никита </h1>
            <h2> и это один из моих проектов!</h2>

            <p style="font-weight: 600">Немного о себе:</p>
            <p>
                Python - мой основной язык программирования.
                Именно на его фреймворке я и написал backend
                сайта, с целью показать свои навыки. Также
                знаю HTML, CSS на базовом уровне. Применял ...

            </p>

        </section>
</main>
{% endblock content %}
